@import "/src/components/navegation/footer/mixins";

$color-background: #1E86C0;
$color-words: white;

.footer-main{
    background-color: $color-background;
}

.columnas{
    column-count: 3;
    column-gap: 50px;
    position: relative;
}

.pos1{
    @include lineamientos_columnas($color-background);
}

.pos2{
    text-align: center;    
}

.pos3{
    @include lineamientos_columnas($color-background);
}


.credits{
    background-color: #C53E3E;
    text-align: center;
    color: $color-words;
}

